
# Groq (LLM for table summarization)
GROQ_API_KEY="<Enter your Groq API Key here>"

# News API to fetch news data
NEWSAPI_KEY=<Enter_your_NewsAPI_Key_here>

# GCP Cloud Storage
GCP_PROJECT_ID=<Enter_your_GCP_Project_ID_here>
GCP_BUCKET_NAME=<Enter_your_GCP_Bucket_Name_here>
GCP_CREDENTIALS_PATH=<Enter_your_GCP_Credentials_JSON_File_Path_here>

# PostgreSQL (Supabase)
POSTGRES_HOST=<Enter_your_PostgreSQL_Host_here>
POSTGRES_PORT=<Enter_your_PostgreSQL_Port_here>
POSTGRES_DB=<Enter_your_PostgreSQL_Database_Name_here>
POSTGRES_USER=<Enter_your_PostgreSQL_Username_here>
POSTGRES_PASSWORD=<Enter_your_PostgreSQL_Password_here>

# Qdrant Cloud
QDRANT_URL=<Enter_your_Qdrant_URL_here>
QDRANT_API_KEY=<Enter_your_Qdrant_API_Key_here>
QDRANT_COLLECTION=<Enter_your_Qdrant_Collection_Name_here>
